@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f6f8fa;
}

#active {
  background-color: #293846;
}

.home {
  margin: 70px 7vw auto 7vw;
}

.loadingPage {
  margin-top: 55px;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 998;
  top: 0;
  left: 0;
  background-color: #f6f8fa;
  text-align: center;
}

.topic {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

h1 {
  margin: 1vw auto 1vw 1.5vw;
}

.keyword {
  background-color: #ffa500;
  color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 0.5vw 1vw;
  margin: auto auto auto 1.5vw;
}

a {
  color: black;
}

.card {
  margin: 1.5%;
}

.cardKeyword {
  background-color: #ffa500;
  color: white;
  display: inline-block;
  border-radius: 5px;
  padding: 4px;
  margin: 10px 10px auto auto;
}

.wrapper {
  min-height: calc(100vh - 190px);
}

.push {
  height: 120px;
}

@media screen and (min-width: 700px) {
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .floatingHeader {
    color: white;
    width: 200px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -12px;
    margin-left: 10px;
    border-radius: 2px;
    z-index: 99;
    position: relative;
    background-color: #3F00FF;
  }

  .dashboard {
    display: flex;
  }

  .smallCard {
    margin: 1vw 1.5vw;
    width: 20vw;
    align-items: center;
  }
  
  .mediumCard {
    margin: 1vw 1.5vw;
    width: 30vw;
    align-items: center;
  }
  
  .halfPageCard {
    margin: 1vw 1.5vw;
    width: 36.5vw;
    align-items: center;
  }
  
  .largeCard {
    margin: 1vw 1.5vw;
    width: 43vw;
    align-items: center;
  }
  
  .fullCard {
    width: 76vw;
    margin: 1vw 1.5vw;
  }

  .loginCard {
    width: 40vw;
  }
  
  .fullHeight {
    height: 94%;
  }
  
  .halfSize {
    width: 45%;
    margin: auto;
  }

  .page {
    margin-left: 18vw;
    margin-top: 70px;
    /* display: flex; */
  }

  .dateForm {
    margin: 20px;
  }

  .paperStyle {
    width: 40vw;
  }

  .authButton {
    margin: 10px auto;
    width: 30%;
  }

  .top {
    height: 90%;
  }

  footer {
    font-size: 15px;
  }

  .footerContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 2px;
  }

  .mail {
    margin-left: 10px;
    margin-right: 15px;
  }
}

.mail, .ig {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.sentiment {
  margin: auto;
}

.text {
  font-family: 'Nunito';
  text-align: left;
  flex: 10%;
}

.icon {
  display: grid;
  place-items: center;
}

.block {
  display: block;
  margin: auto
}

.genderBox {
  border: 1px solid;
  border-color: #4047FF;
  margin: 5vh auto;
  padding: 1vh 3vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.genderInner {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.halfTable {
  margin: auto;
  margin-top: 0;
}

.blue {
  background-color: #3F00FF;
}

.green {
  color: #00ce9c;
}

.red {
  color: #f93822;
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 2em;
}

.percentage {
  margin-left: 5px;
}

@media screen and (max-width: 700px) {
  .floatingHeader {
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: relative;
    background-color: #3F00FF;
    border-radius: 5px 5px 0 0;
    margin-bottom: -3px;
  }

  .smallCard, .mediumCard, .halfPageCard, .largeCard, .fullCard {
    margin: 4%;
  }

  .loginCard {
    width: 80vw;
  }

  .dateForm {
    margin-top: 4%;
  }

  .keywordList {
    margin: auto;
  }

  .keyword {
    margin: 2%;
  }

  .page {
    text-align: center;
  }

  #choropleth_map {
    zoom: 50%;
    margin: auto 3%;
  }

  .paperStyle {
    width: 80vw;
  }

  .authButton {
    margin: 20px;
    width: 70%;
    color: red;
  }

  footer {
    font-size: 13px;
  }

  .footerContact {
    margin-top: 15px;
  }

  .footerContactItem {
    margin-bottom: 4px;
  }
}

#choropleth_map {
  width: 100%;
  height: 50vh;
  margin-top: -5%;
  margin-left: -5%;
}

.paperStyle {
  padding: 30px 20px;
  margin: 20px auto;
}

.pageCenter {
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3F00FF;
  color: white;
  text-align: center;
  padding: 10px;
  height: 120px;
  position: relative;
  margin-top: -120px;
}

.footerContactItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.loginPage {
  height: calc(100vh - 120px);
  background: rgb(25,36,140);
  background: linear-gradient(90deg, rgba(25,36,140,1) 0%, rgba(37,70,245,1) 100%);
}

.loginCard  {
  padding: 25px 15px;
  margin: 10px auto;
  border: solid 1px;
  border-color: white;
  background-color: transparent!important;
}

.MuiInput-underline:after {
  border-bottom-color: white;
}